.form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid  #63529a;
    border-radius: 8px;
    padding: 10px;
    width: 80vw;
    margin: 0 auto;

    & .input_group {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & .label {
            display: block;
            font-weight: bold;
        }

        & .field {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 2px;
            margin-top: 3px;
        }

        & .error-message {
            color: red;
            font-size: 12px;
            margin-bottom: 5px;
        }
    }
}






.required {
    color: darkviolet;
    font-size: 12px;
    margin-left: 5px;
}

.button {
    height: 40px;
    background-color: #9382c8;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
        background-color: #63529a;
    }
}